.login {
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login__card {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 20px;
  background: var(--color-white);
  display: grid;
  gap: 30px;
}

.login__title {
  font-size: 28px;
  color: var(--color-text-heading);
  text-align: center;
}
